*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.app{
  background-color: #f3f2ef;
  display:flex;
  flex-direction: column;
}
.app__body {
  display: flex;
  flex-flow: row nowrap;
  margin: 35px auto 0;
  max-width: 1200px;
  width: 100%;
}

body{
  background-color: #f3f2ef;
}